<link href="/css/style.css" rel="stylesheet" type="text/css" th:fragment="link_css">




<main th:fragment="mainmovie(filmes)">

        <h2>Filmes</h2>

        <table >
            <thead>
            <tr>
                <th scope="col">#id</th>
                <th scope="col">Título</th>
                <th scope="col">Diretor</th>
                <th scope="col">Sinopse</th>
                <th scope="col">Nota</th>
                <th scope="col">Editar</th>
                <th scope="col">Deletar</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="f : ${filmes}" th:object="${f}">
                <td th:text="*{id}">id</td>
                <td th:text="*{titulo}">titulooooo</td>
                <td th:text="*{diretor}">diretor</td>
                <td th:text="*{sinopse}">sinopseeeeeee</td>
                <td th:text="*{avaliacao}">avaliacao</td>
                <td> <a th:href="@{'/editar/'+ *{id}}">Editar</a> </td>
                <td> <a th:href="@{'/deletar/'+ *{id}}">Deletar</a></td>
            </tr>

            </tbody>
        </table>
</main>