<nav id="sidebarMenu" th:fragment="navbar">
    <div >
        <ul >
            <li >
                <a  href="/">
                    <span></span>
                    Home
                </a>
            </li>
            <li >
                <a  href="/cadastrarFilme">
                    <span></span>
                    Cadastrar Filme
                </a>
            </li>
            <li >
                <a  href="#">
                    <span></span>
                    Usuários
                </a>
            </li>
        </ul>
    </div>
</nav>