html{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    
}
body.container{
    background-image: url(/assets/backgound_black_main.jpg);
}
body.default{
    background: linear-gradient(156deg, #3E3E3E 47%, #fff 100%);
}
main.mainpage{
    margin: auto;
    border: 7px groove #dd1010;
    text-align: center;
    max-width: 700px;
    color: #4CFF08;
    font-size: 1.2rem;
}

header.top{
    background-color: black;
   
}
header div input.h{
   margin-left: 65px;
   margin-right: 50px;
}
div.flex{
    display: inline-flex;
    padding-left: 30px;

}
header img{
    display: block;
    margin: auto;
    max-width: 200px;
}
form{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
table{
    
    margin:auto;
    background-color: rgba(185, 185, 185, 0.5);
}
th,td{
    padding: 8px;
}
li.error, p.error{
    color: #dd1010;
    font-size: 0.8rem;
}
tr:nth-child(even) {background-color: #4CFF08;}

h1,h2{
    border-bottom: 7px groove#dd1010;
    margin-left: 20vw;
    color: antiquewhite;
}
a{
    text-decoration: none;
    color: #dd1010;
}
a:hover{
   color: #4CFF08;
}
input{
    
    max-width: 200px;
    box-shadow: 3px 3px 12px 0px #FF0B0B;
    margin: auto;
    margin-bottom: 15px;
    border-radius: inherit;
    font-size: inherit;
}
input:focus{
 background-color: #4CFF08;
 
}
button{
    border-radius: inherit;
    color: inherit;
}
button:hover{
    color: #dd1010;
    background-color: #4CFF08;
    font-size: inherit;
}
